---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__footer {
  display: none;
}

.page__title {
  font-size: 1.8em;
  line-height: 1.15;
}

.page__content {
  font-size: 0.95em;
  line-height: 1.65;
}

.sidebar {
  font-size: 0.9em;
}
